bertopic==0.17.0
datasets==3.5.0
dvc==3.59.1
dvc-data==3.16.9
dvc-http==2.32.0
dvc-objects==5.1.0
dvc-render==1.0.2
dvc-studio-client==0.21.0
dvc-task==0.40.2
fastapi==0.115.12
hdbscan==0.8.40
huggingface-hub==0.30.2
huggingface_hub[hf_xet]
numpy==2.2.5
pydantic==2.11.3
pydantic_core==2.33.1
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==4.1.0
transformers==4.51.3
umap==0.1.1
umap-learn==0.5.7
uvicorn==0.34.2